<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>

  {{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>{{ capitalize 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, modi voluptas. Nemo, animi harum ut, tenetur quasi quod officia porro at doloremque placeat assumenda deserunt eveniet voluptas dolor aut nobis.' }}</h1>
    </div>
    <div class="col-4">
      <img src="/assets/images/goku.jpg" class="img-thumbnail" alt="Goku">
    </div>
  </div>


  {{> footer}}


</body>

</html>